root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ruleset,sln}]
end_of_line = crlf

[*.{config,csproj,css,js,json,props,scss,targets,ts,vue}]
indent_size = 2
