<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <applicationInitialization doAppInitAfterRestart="true">
      <clear />
      <!-- Require preloadEnabled="true" -->
      <!-- Require http -->
      <add initializationPage="/api/initializations/initialize" />
    </applicationInitialization>
    <defaultDocument>
      <files>
        <clear />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    <!-- Require URL Rewrite -->
    <rewrite>
      <outboundRules>
        <rule name="Remove Server Header">
          <match serverVariable="RESPONSE_SERVER" pattern=".*" />
          <action type="Rewrite" />
        </rule>
      </outboundRules>
    </rewrite>
    <security>
      <!-- removeServerHeader is Require IIS 10.0 -->
      <!--<requestFiltering removeServerHeader="true" />-->
    </security>
  </system.webServer>

</configuration>
