.v-input {
  // &.v-input--dense {
  //   .v-text-field__slot {
  //     .v-text-field__prefix {
  //       margin-top: 2px;
  //     }

  //     .v-text-field__suffix {
  //       margin-top: 2px;
  //     }
  //   }
  // }

  &.v-input--dense {
    .v-input__control {
      .v-input__append-inner {
        .v-input__icon.v-input__icon--append {
          .v-icon {
            margin-top: 4px;
          }
        }
      }
    }
  }

  &.v-input--dense-x {
    margin-top: 0;
  }

  &.v-input--tooltip-details {
    .v-input__slot {
      margin-bottom: 0;
    }

    .v-text-field__details,
    .v-messages {
      max-height: 0;
      min-height: 0;
    }
  }

  // &.v-input--tooltip-details {
  //   .v-input__control {
  //     .v-input__slot {
  //       margin-bottom: 0;
  //     }

  //     .v-text-field__details {
  //       height: 0;
  //       min-height: 0;
  //     }
  //   }

  //   .v-input__append-outer {
  //     align-self: center;
  //     margin-left: 2px;
  //     margin-top: 6px !important;
  //   }
  // }
}
