#app.v-application {
  .cursor-move {
    cursor: move;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .required-marker {
    .v-label::after {
      color: #f00;
      content: '*';
    }

    .v-radio {
      .v-label::after {
        content: '';
      }
    }
  }

  .visibility-hidden {
    visibility: hidden;
  }
}
