@import 'variables.scss';

html {
  overflow-y: auto !important;

  *::-webkit-scrollbar {
    height: $scrollbar-size;
    width: $scrollbar-size;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border: none;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-track {
    background-color: $scrollbar-track-color;
  }
}
