#app.v-application {
  .v-btn,
  .v-tab {
    text-transform: none;
  }

  .v-data-table {
    .v-data-table__wrapper {
      border-radius: inherit;

      .v-data-table-header tr th {
        white-space: nowrap;

        .v-icon {
          vertical-align: top;
        }
      }
    }

    &.v-data-table--fixed-header {
      .v-data-table__wrapper {
        &::-webkit-scrollbar-track {
          margin-top: 48px;
        }

        .v-data-table__progress th {
          top: 48px;
        }
      }

      .v-data-footer {
        margin-right: 0;
      }
    }
  }
}
