@import 'variables.scss';

#app.v-application {
  .v-btn,
  .v-tab {
    text-transform: none;
  }

  .v-input {
    &.v-input--is-focused {
      .v-input__append-inner,
      .v-input__prepend-inner {
        .v-btn--icon {
          color: inherit;
        }
      }
    }

    &.v-input--is-readonly {
      color: inherit !important;

      .v-icon {
        color: inherit !important;
      }

      .v-label {
        color: inherit !important;
      }
    }
  }

  .v-data-table {
    .v-data-table__wrapper {
      border-radius: inherit;

      .v-data-table-header tr th {
        white-space: nowrap;

        .v-icon {
          vertical-align: top;
        }
      }
    }

    &.v-data-table--fixed-header {
      .v-data-footer {
        margin-right: 0;
      }
    }
  }

  .text-left {
    input {
      text-align: left;
    }
  }

  .text-center {
    input {
      text-align: center;
    }
  }

  .text-right {
    input {
      text-align: right;
    }
  }
}
