$app-background-color: rgba(0, 0, 0, 0.04);

$data-table-container-border: 1px solid rgba(0, 0, 0, 0.12);

$appbar-background-color: rgb(255, 255, 255);
$appbar-border-color: rgba(0, 0, 0, 0.12);

$navigation-background-color: rgb(29, 54, 76);
$navigation-border-color: rgb(29, 54, 76);
$navigation-item-color: rgb(255, 255, 255);
$navigation-active-item-border-color: $navigation-item-color;
$navigation-active-item-border-size: 2px;

$scrollbar-size: 8px;
$scrollbar-thumb-color: rgba(163, 172, 182, 0.5);
$scrollbar-track-color: rgba(163, 172, 182, 0.2);
